{% extends "dashboard/layout/landingpage_layout.html" %}
{% block content %}
<div class="fix-width">
    <div class="row banner-text justify-content-center">
        {% if current_user.is_authenticated %}
        <div class="col-md-8 m-t-18 text-center">
            <h1 style="color: #154a6c;">Welcome {{ current_user.username }} <br> to <br>
                <span style="color: #8fad55;">
                    Santa Blog!
                </span>
            </h1>
            <p class="subtext">
                <span class="font-medium">
                    Please click on Dashboard to manage your account
                </span>
            </p>
        </div>
        {% elif current_user.is_anonymous %}
        <div class="col-md-8 m-t-20 text-center">
            <h1 style="color: #154a6c;">Welcome to
                <span style="color: #8fad55;">
                    Santa Blog
                </span>
            </h1>
            <p class="subtext">
                <span class="font-medium">
                    Please login to access the Management Dashboard
                </span>
            </p>
        </div>
        {% endif %}

        <div class="col-md-12 text-center">
            <div class="hero-banner">
                <img src="{{ url_for('static', filename='landingpage/images/banner.jpg') }}" alt="Admin Press template"
                    class="img-fluid" />
            </div>
        </div>
    </div>
</div>
{% endblock content %}