{% extends "main/layout/main_layout.html" %}
{% block content %}
<section id="page-content" class="sidebar-right">
    <div class="container">
        <div class="row">
            <!-- content -->
            <div class="content col-lg-9">
                <!-- Blog -->
                <div id="blog" class="single-post">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="#">
                                    <img alt="" src="{{ url_for('static', filename='main/images/blog/1.jpg') }}">
                                </a>
                            </div>
                            <div class="post-item-description">
                                <h2>{{ post.title }}</h2>
                                <div class="post-meta">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>
                                        {{ post.timestamp.strftime('%b %d, %Y') }}
                                    </span>
                                    <span class="post-meta-comments">
                                        <a href="#comments">
                                            <i class="fa fa-comments-o"></i>
                                            {{ post.comments.count() }} 
                                            {% if post.comments.count() < 2 %}
                                            Comment
                                            {% else %}
                                            Comments
                                            {% endif %}
                                        </a>
                                    </span>
                                    <span class="post-meta-category">
                                        <a href=""><i class="fa fa-tag"></i>Lifestyle, Magazine</a>
                                    </span>
                                    <div class="post-meta-share">
                                        <a class="btn btn-xs btn-slide btn-facebook" href="#">
                                            <i class="fab fa-facebook-f"></i>
                                            <span>Facebook</span>
                                        </a>
                                        <a class="btn btn-xs btn-slide btn-twitter" href="#" data-width="100">
                                            <i class="fab fa-twitter"></i>
                                            <span>Twitter</span>
                                        </a>
                                        <a class="btn btn-xs btn-slide btn-instagram" href="#" data-width="118">
                                            <i class="fab fa-instagram"></i>
                                            <span>Instagram</span>
                                        </a>
                                        <a class="btn btn-xs btn-slide btn-googleplus" href="mailto:#" data-width="80">
                                            <i class="icon-mail"></i>
                                            <span>Mail</span>
                                        </a>
                                    </div>
                                </div>
                                <p>
                                    {{ post.body|safe }}
                                </p>
                            </div>
                            <div class="post-tags">
                                <a href="#">Life</a>
                                <a href="#">Sport</a>
                                <a href="#">Tech</a>
                                <a href="#">Travel</a>
                            </div>
                            <div class="post-navigation">
                                {% if prev_post %}
                                <a href="{{ url_for('main.blog_details', blog_id=prev_post.id, slug=prev_post.slug) }}"
                                    class="post-prev">
                                    <div class="post-prev-title"><span>Previous Post</span>
                                        {{ prev_post.title }}
                                    </div>
                                </a>
                                {% endif %}
                                <a href="{{ url_for('main.blog') }}" class="post-all">
                                    <i class="icon-grid"> </i>
                                </a>
                                {% if next_post %}
                                <a href="{{ url_for('main.blog_details', blog_id=next_post.id, slug=next_post.slug) }}" 
                                    class="post-next">
                                    <div class="post-next-title"><span>Next Post</span>
                                        {{ next_post.title }}
                                    </div>
                                </a>
                                {% endif %}
                            </div>
                            <!-- Comments -->
                            <div class="comments" id="comments">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                    <div role="alert" class="alert alert-{{category}} alert-dismissible">
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
                                        <strong><i class="fa fa-exclamation-circle"></i> 
                                            {{ category|title }}!
                                        </strong> {{ message }}. 
                                    </div>
                                    {% endfor %}
                                {% endif %}
                                {% endwith %}
                                <div class="comment_number">
                                    Comments <span>({{ post.comments.count() }})</span>
                                </div>
                                <div class="comment-list">
                                    <!-- Comment -->
                                    {% for comment in comments %}
                                    <div class="comment" id="comment-1">
                                        <div class="image">
                                            <img alt="" src="{{ url_for('static', filename='dashboard/profile_pics/'+comment.author.image) }}" 
                                                class="avatar">
                                        </div>
                                        <div class="text">
                                            <h5 class="name">{{ comment.author.username }}</h5>
                                            <span class="comment_date">
                                                Posted at {{ comment.comment_date.strftime('%H:%M%p') }}, 
                                                {{ comment.comment_date.strftime('%d %B') }}
                                            </span>
                                            <a class="comment-reply-link" href="#">Reply</a>
                                            <div class="text_holder">
                                                <p>{{ comment.body|safe }}</p>
                                            </div>
                                        </div>
                                        <!-- Comment -->
                                        <!-- <div class="comment" id="comment-1-1">
                                            <div class="image"><img alt="" src="images/blog/author2.jpg" class="avatar">
                                            </div>
                                            <div class="text">
                                                <h5 class="name">John Doe</h5>
                                                <span class="comment_date">Posted at 15:32h, 06 December</span>
                                                <a class="comment-reply-link" href="#">Reply</a>
                                                <div class="text_holder">
                                                    <p>It is a long established fact that a reader will be distracted by
                                                        the readable content of a page when looking at its layout. The
                                                        point of using Lorem Ipsum is that it has a more-or-less normal
                                                    </p>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- end: Comment -->
                                        <!-- Comment -->
                                        <!-- <div class="comment" id="comment-1-2">
                                            <div class="image"><img alt="" src="images/blog/author3.jpg" class="avatar">
                                            </div>
                                            <div class="text">
                                                <h5 class="name">John Doe</h5>
                                                <span class="comment_date">Posted at 15:32h, 06 December</span>
                                                <a class="comment-reply-link" href="#">Reply</a>
                                                <div class="text_holder">
                                                    <p>There are many variations of passages of Lorem Ipsum available,
                                                        but the majority have suffered alteration in some form, by
                                                        injected humour, or randomised words which don't look even
                                                        slightly
                                                        believable. If you are going to use a passage of Lorem Ipsum,
                                                        you need to be sure there isn't anything embarrassing hidden in
                                                        the middle of text. </p>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- end: Comment -->
                                    </div>
                                    {% endfor %}
                                    <!-- end: Comment -->
                                </div>
                                <ul class="pagination">
                                    <li class="page-item {% if not pagination.has_prev %} disabled {% endif %}">
                                        <a class="page-link" href="{% if pagination.has_prev %}
                                                            {{ url_for('main.blog_details', blog_id=post.id, slug=post.slug, 
                                                            page=pagination.prev_num, _anchor='comments') }} {% else %}# {%endif%}">
                                            Previous
                                        </a>
                                    </li>

                                    {% for page_num in pagination.iter_pages(left_edge=2, right_edge=2, left_current=3, right_current=5) %}
                                    {% if page_num %}
                                        {% if pagination.page == page_num %}
                                        <li class="page-item active">
                                            <a class="page-link" 
                                                href="{{ url_for('main.blog_details', blog_id=post.id, slug=post.slug, 
                                                        page=page_num, _anchor='comments') }}">
                                                {{ page_num }}
                                            </a>
                                        </li>
                                        {% else %}
                                        <li class="page-item">
                                            <a class="page-link" 
                                                href="{{ url_for('main.blog_details', blog_id=post.id, slug=post.slug, 
                                                    page=page_num, _anchor='comments') }}">
                                                {{ page_num }}
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% else %}
                                    ...
                                    {% endif %}
                                    {% endfor %}

                                    <li class="page-item {% if not pagination.has_next %} disabled {% endif %}">
                                        <a class="page-link" href="{% if pagination.has_next %}
                                                    {{ url_for('main.blog_details', blog_id=post.id, slug=post.slug, 
                                                    page=pagination.next_num, _anchor='comments') }} {% else %}# {%endif%}">
                                            Next
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end: Comments -->
                            <div class="respond-form" id="respond">
                                <div class="respond-comment">
                                    Leave a <span>Comment</span></div>
                                <form class="form-gray-fields" method="POST">
                                    {{ form.csrf_token }}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="upper" for="comment">Your comment</label>
                                                {% if form.body.errors %}
                                                <div class="form-group">
                                                    {{ form.body(class="form-control is-invalid required", 
                                                    placeholder="Enter comment", rows="9") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.body.errors %}
                                                        <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% else %}
                                                {{ form.body(class="form-control required", 
                                                    placeholder="Enter comment", rows="9") }}
                                                {% endif %}
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group text-center">
                                                {{ form.submit(class="btn btn-primary") }}
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end: Post single item-->
                </div>
            </div>
            <!-- end: content -->
            <!-- Sidebar-->
            <div class="sidebar sticky-sidebar col-lg-3">
                <!--widget newsletter-->
                <div class="widget  widget-newsletter">
                    <form id="widget-search-form-sidebar" action="search-results-page.html" method="get">
                        <div class="input-group">
                            <input type="text" aria-required="true" name="q" class="form-control widget-search-form"
                                placeholder="Search for pages...">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <!--end: widget newsletter-->
                <!--Tabs with Posts-->
                <div class="widget">
                    <div class="tabs">
                        <ul class="nav nav-tabs" id="tabs-posts" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#popular" role="tab"
                                    aria-controls="popular" aria-selected="true">Popular</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#featured" role="tab"
                                    aria-controls="featured" aria-selected="false">Featured</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#recent" role="tab"
                                    aria-controls="recent" aria-selected="false">Recent</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tabs-posts-content">
                            <div class="tab-pane fade show active" id="popular" role="tabpanel"
                                aria-labelledby="popular-tab">
                                <div class="post-thumbnail-list">
                                    <div class="post-thumbnail-entry">
                                        <img alt="" src="images/blog/thumbnail/5.jpg">
                                        <div class="post-thumbnail-content">
                                            <a href="#">A true story, that never been told!</a>
                                            <span class="post-date"><i class="icon-clock"></i> 6m ago</span>
                                            <span class="post-category"><i class="fa fa-tag"></i> Technology</span>
                                        </div>
                                    </div>
                                    <div class="post-thumbnail-entry">
                                        <img alt="" src="images/blog/thumbnail/6.jpg">
                                        <div class="post-thumbnail-content">
                                            <a href="#">Beautiful nature, and rare feathers!</a>
                                            <span class="post-date"><i class="icon-clock"></i> 24h ago</span>
                                            <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                        </div>
                                    </div>
                                    <div class="post-thumbnail-entry">
                                        <img alt="" src="images/blog/thumbnail/7.jpg">
                                        <div class="post-thumbnail-content">
                                            <a href="#">The most happiest time of the day!</a>
                                            <span class="post-date"><i class="icon-clock"></i> 11h ago</span>
                                            <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                                <div class="post-thumbnail-list">
                                    <div class="post-thumbnail-entry">
                                        <img alt="" src="images/blog/thumbnail/6.jpg">
                                        <div class="post-thumbnail-content">
                                            <a href="#">Beautiful nature, and rare feathers!</a>
                                            <span class="post-date"><i class="icon-clock"></i> 24h ago</span>
                                            <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                        </div>
                                    </div>
                                    <div class="post-thumbnail-entry">
                                        <img alt="" src="images/blog/thumbnail/7.jpg">
                                        <div class="post-thumbnail-content">
                                            <a href="#">The most happiest time of the day!</a>
                                            <span class="post-date"><i class="icon-clock"></i> 11h ago</span>
                                            <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                        </div>
                                    </div>
                                    <div class="post-thumbnail-entry">
                                        <img alt="" src="images/blog/thumbnail/8.jpg">
                                        <div class="post-thumbnail-content">
                                            <a href="#">New costs and rise of the economy!</a>
                                            <span class="post-date"><i class="icon-clock"></i> 11h ago</span>
                                            <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                                <div class="post-thumbnail-list">
                                    {% for post in recent_posts[:5] %}
                                    <div class="post-thumbnail-entry">
                                        <img alt="" src="images/blog/thumbnail/7.jpg">
                                        <div class="post-thumbnail-content">
                                            <a href="{{ url_for('main.blog_details', blog_id=post.id, slug=post.slug) }}">
                                                {{ post.title }}
                                            </a>
                                            <span class="post-date"><i class="icon-clock"></i> 
                                                {{ moment(post.timestamp).fromNow() }}
                                            </span>
                                            <span class="post-category"><i class="fa fa-tag"></i> 
                                                Lifestyle
                                            </span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End: Tabs with Posts-->
                <!-- Twitter widget -->
                <div class="widget widget-tweeter" data-username="envato" data-limit="2">
                    <h4 class="widget-title">Recent Tweets</h4>
                </div>
                <!-- end: Twitter widget-->
                <!--widget tags -->
                <div class="widget  widget-tags">
                    <h4 class="widget-title">Tags</h4>
                    <div class="tags">
                        <a href="#">Design</a>
                        <a href="#">Portfolio</a>
                        <a href="#">Digital</a>
                        <a href="#">Branding</a>
                        <a href="#">HTML</a>
                        <a href="#">Clean</a>
                        <a href="#">Peace</a>
                        <a href="#">Love</a>
                        <a href="#">CSS3</a>
                        <a href="#">jQuery</a>
                    </div>
                </div>
                <!--end: widget tags -->
            </div>
            <!-- end: Sidebar-->
        </div>
    </div>
</section>
{% endblock content %}