{% extends "main/layout/main_layout.html" %}
{% block content %}
<section id="page-content" class="sidebar-right">
    <div class="container">
        <div class="row">
            <!-- post content -->
            <div class="content col-lg-9">
                <!-- Page title -->
                <div class="page-title">
                    <h1>Blog</h1>
                    <div class="breadcrumb float-left">
                        <ul>
                            <li><a href="#">Home</a>
                            </li>
                            <li class="active"><a href="#">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end: Page title -->
                <!-- Blog -->
                <div id="blog" class="grid-layout post-3-columns m-b-30" data-item="post-item">
                    <!-- Post item-->
                    {% for post in posts %}
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="#">
                                    <img alt="" src="{{ url_for('static', filename='main/images/blog/12.jpg') }}">
                                </a>
                                <span class="post-meta-category"><a href="">Lifestyle</a></span>
                            </div>
                            <div class="post-item-description">
                                <span class="post-meta-date">
                                    <i class="fa fa-calendar-o"></i>
                                    {{ post.timestamp.strftime('%b %d, %Y') }}
                                </span>
                                <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33
                                        Comments</a></span>
                                <h2><a href="#">{{ post.title }}</a></h2>
                                {% if post.body|length > 150 %}
                                    <p>{{ post.body[:150]|safe }}...</p>
                                {% else %}
                                    <p>{{ post.body|safe }}</p>
                                {% endif %}
                                <a href="#" class="item-link">Read More <i class="icon-chevron-right"></i></a>
                                <div class="post-author"> 
                                    <img src="{{ url_for('static', filename='dashboard/profile_pics/'+post.author.image) }}">
                                    <p>by 
                                        <a href="{{ url_for('main.user_posts', username=post.author.username) }}">
                                            {{ post.author.username }}
                                        </a> {{ moment(post.timestamp).fromNow() }} 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- end: Post item-->
                </div>
                <!-- end: Blog -->
                <!-- Pagination -->
                <ul class="pagination">
                    {% for page_num in pagination.iter_pages(left_edge=2, right_edge=2, left_current=3, right_current=5) %}
                    {% if page_num %}
                        {% if pagination.page == page_num %}
                        <li class="page-item active">
                            <a class="page-link" 
                                href="{{ url_for('main.user_posts', username=user.username, page=page_num) }}">
                                {{ page_num }}
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" 
                                href="{{ url_for('main.user_posts', username=user.username, page=page_num) }}">
                                {{ page_num }}
                            </a>
                        </li>
                        {% endif %}
                    {% else %}
                    ...
                    {% endif %}
                    {% endfor %}
                </ul>
                <!-- end: Pagination -->
            </div>
            <!-- end: post content -->
            <!-- Sidebar-->
            <div class="sidebar sticky-sidebar col-lg-3">
                <!--Tabs with Posts-->
                <div class="widget ">
                    <h4 class="widget-title">Recent Posts</h4>
                    <div class="post-thumbnail-list">
                        {% for post in recent_posts[:5] %}
                        <div class="post-thumbnail-entry">
                            <img alt="" src="{{ url_for('static', filename='main/images/blog/thumbnail/5.jpg') }}">
                            <div class="post-thumbnail-content">
                                <a href="#">{{ post.title }}</a>
                                <span class="post-date"><i class="icon-clock"></i> 
                                    {{ moment(post.timestamp).fromNow() }}
                                </span>
                                <span class="post-category"><i class="fa fa-tag"></i> Technology</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!--End: Tabs with Posts-->
                <!-- Twitter widget -->
                <div class="widget widget-tweeter" data-username="envato" data-limit="2">
                    <h4 class="widget-title">Recent Tweets</h4>
                </div>
                <!-- end: Twitter widget-->
                <!--widget tags -->
                <div class="widget  widget-tags">
                    <h4 class="widget-title">Tags</h4>
                    <div class="tags">
                        <a href="#">Design</a>
                        <a href="#">Portfolio</a>
                        <a href="#">Digital</a>
                        <a href="#">Branding</a>
                        <a href="#">HTML</a>
                        <a href="#">Clean</a>
                        <a href="#">Peace</a>
                        <a href="#">Love</a>
                        <a href="#">CSS3</a>
                        <a href="#">jQuery</a>
                    </div>
                </div>
                <!--end: widget tags -->
                <!--widget newsletter-->
                <div class="widget  widget-newsletter">
                    <form class="widget-subscribe-form" novalidate action="include/subscribe-form.php"
                        role="form" method="post">
                        <h4 class="widget-title">Newsletter</h4>
                        <small>Stay informed on our latest news!</small>
                        <div class="input-group">
                            <input type="email" required name="widget-subscribe-form-email"
                                class="form-control required email" placeholder="Enter your Email">
                            <span class="input-group-btn">
                                <button type="submit" id="widget-subscribe-submit-button"
                                    class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <!--end: widget newsletter-->
            </div>
            <!-- end: Sidebar-->
        </div>
    </div>
</section>
{% endblock content %}